<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<appSettings>
		<add key="font_size" value="12"/>
		<add key="font_family" value="consolas"/>
		<add key="foreground_color" value="#000000"/>
		<add key="background_color" value="#ffffff"/>
		<add key="find_background_color" value="#7FFFD4"/>
	</appSettings>
</configuration>
